form{
    border: solid 1px;
    width: 450px;
    padding-left: 10px;
    padding-top: 30px;
}
body{
    background-image: url(pizza3.jpg);
    background-repeat: no-repeat;
    background-size: 1380px 650px;

}
label{
    color: white;
    font-size: 23px;
    font-weight: bold;
}
h1{
    color: wheat;
    font-size: 40px;
    text-align: center;
}
input{
    height: 30px;
    width: 300px;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid;
    border-bottom-color: goldenrod;
    border-bottom-width: 5px;
    color: wheat;
    font-size: 20px;

}
textarea{
    width: 300px;
    height: 90px;
}
button{
    height: 50px;
    width: 150px;
    background-color:red;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 20px;

}
#avatar{
    border-radius: 50%;
    position: relative;
    left: 188px;
    top: 40px;
    background-size: 20px;
}
}